amqp==5.1.1
async-timeout==4.0.2
billiard==3.6.4.0
bleak==0.19.5
cachelib==0.9.0
celery==5.2.7
click==8.1.3
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
dash==2.8.1
dash-bootstrap-components==1.4.0
dash-core-components==2.0.0
dash-extensions==0.1.13
dash-html-components==2.0.0
dash-table==5.0.0
dbus-fast==1.84.2
dill==0.3.6
diskcache==5.4.0
EditorConfig==0.12.3
Flask==2.2.3
Flask-Caching==2.0.2
itsdangerous==2.1.2
Jinja2==3.1.2
jsbeautifier==1.14.7
kombu==5.2.4
MarkupSafe==2.1.2
more-itertools==9.1.0
multiprocess==0.70.14
plotly==5.13.1
prompt-toolkit==3.0.38
psutil==5.9.4
pytz==2022.7.1
redis==4.5.1
six==1.16.0
tenacity==8.2.2
vine==5.0.0
wcwidth==0.2.6
Werkzeug==2.2.3
