asttokens==2.2.1
async-timeout==4.0.2
backcall==0.2.0
bleak==0.19.5
comm==0.1.2
dbus-fast==1.84.2
debugpy==1.6.6
decorator==5.1.1
executing==1.2.0
future==0.18.3
ipykernel==6.21.2
ipython==8.10.0
ipywidgets==8.0.4
iso8601==1.1.0
jedi==0.18.2
jupyter_client==8.0.3
jupyter_core==5.2.0
jupyterlab-widgets==3.0.5
matplotlib-inline==0.1.6
nest-asyncio==1.5.6
numpy==1.24.2
packaging==23.0
pandas==1.5.3
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
platformdirs==3.0.0
plotly==5.13.1
prompt-toolkit==3.0.38
psutil==5.9.4
ptyprocess==0.7.0
pure-eval==0.2.2
Pygments==2.14.0
pyserial==3.5
python-dateutil==2.8.2
pytz==2022.7.1
PyYAML==6.0
pyzmq==25.0.0
six==1.16.0
stack-data==0.6.2
tenacity==8.2.1
tornado==6.2
traitlets==5.9.0
wcwidth==0.2.6
widgetsnbextension==4.0.5
