.app-header {
    /* background-color: lightgray; */
    /* border-bottom: thin lightblue solid; */
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}


.app-pages {
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
}


.app-button {
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}


.app-hor-line {
    border-bottom: thin lightblue solid;
}

.other {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}